body {
    background-color: #f8f0f0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 50px auto;
}

.top {
    height: 120px;
    background-color: #cb8a07;
    border-radius: 80px 80px 0px 0px;
    border: 2px solid #a36803;
    align-items: center;
}

.lettuce {
    height: 20px;
    background-color: #327d06;
}

.tomato {
    height: 20px;
    background-color: #d40b0b;
}

.onion {
    height: 20px;
    background-color: #c58bc5;
}

.cheese {
    height: 20px;
    background-color: #80f00a;
}

.patty {
    height: 50px;
    background-color: #55341a;
}

.bottom {
    height: 60px;
    background-color: #d4920e;
    border-radius: 0px 0px 20px 20px;
    border: 2px solid #a76d0a;
}
